<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#patientModal">New Disease</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <table id="table" class="table table-custom">
            <thead>
                <tr>
                    <th>code</th>
                    <th>Name</th>
                    <th>Patients</th>
                    <th style="width: 190px">Action</th>
                </tr>
            </thead>
        <tbody>
       
        {{#each diseases}}
            <tr>
                <td>{{slno @index}}</td>
                <td><a href="/sub-diseases/{{this.id}}"> {{this.name}}</a></td>
                <td>{{ this.count }}</td>
                <td>
                    <button class="btn btn-sm btn-primary edit-btn" data-id="{{this.id}}" data-name="{{this.name}}">Edit/View</button> 
                    <button class="btn btn-sm btn-danger ajaxConfirmEle" data-url="/api/disease/delete/{{this.id}}" data-title="Do want to delete?" data-method="delete" data-callback="reload">Delete</button>
                </td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot>

        </tfoot>
</table>
    </div>
</div> 

<div class="modal fade" id="patientModal" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="/api/disease/save" method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Disease</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="d_id" name="d_id" >
                            <label>Disease Name</label>
                            <input type="text" class="form-control" id="d_name" name="d_name" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
        </form>
  </div>
</div>

{{#section 'script'}}
<script>
   $(document).ready(function(){
        $("#table").DataTable({
            "fnDrawCallback": function( oSettings ) {
                load();
            },
        });

        function load(){
            $('.edit-btn').off('click').on('click',function(){
                $('#d_id').val($(this).data('id'));
                $('#d_name').val($(this).data('name'));
                $('#patientModal').modal('show');
            });
        }
        
        function reload(){

        }
      
   })
</script>
{{/section}}
