<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#patientModal">New Doctor</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <table id="table" class="table table-custom">
    <thead>
        <tr>
            <th>SlNo</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Place</th>
            <th>Department</th>
            <th style="width: 190px">Action</th>
        </tr>
    </thead>
    <tbody>
      {{#each doctors}}
            <tr>
                <td>{{slno @index}}</td>
                <td>{{this.name}}</td>
                <td>{{this.mobile}}</td>
                <td>{{this.email}}</td>
                <td>{{this.place}}</td>
                <td>{{this.dname}}</td>
                <td>
                    <button class="btn btn-sm btn-primary edit-btn" data-id="{{this.id}}" data-name="{{this.name}}">Edit/View</button> 
                    <button class="btn btn-sm btn-danger ajaxConfirmEle" data-url="/api/doctor/delete/{{this.id}}" data-title="Do want to delete?" data-method="delete" data-callback="reload">Delete</button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
    </div>
</div> 

<div class="modal fade" id="patientModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form action="/api/doctor/save" method="POST">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Doctor</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Doctor Name</label>
                            <input type="text" class="form-control" id="d_name" name="d_name" required>
                            <input type="hidden" class="form-control" id="d_id" name="d_id">
                        </div>
                    </div>
                    <div class="col-md-4">
                         <div class="form-group">
                            <label>Mobile</label>
                            <input type="number" class="form-control" id="d_mobile" name="d_mobile" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" id="d_email" name="d_email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Place</label>
                            <input type="text" class="form-control" id="d_place" name="d_place" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Sex</label>
                            <select  class="form-control" id="d_sex" name="d_sex" required>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Transgender</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Area of Treatment</label>
                            <select class="form-control" id="d_disease" name="d_disease" required>
                                 {{#each diseases}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                 {{/each}}
                            </select>
                        </div>
                    </div>
                </div>

                
        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="sumbit" class="btn btn-success">Save</button>
            </div>
            </form>
        </div>
  </div>
</div>

{{#section 'script'}}
<script>
   $(document).ready(function(){
        $("#table").DataTable({
            "fnDrawCallback": function( oSettings ) {
                load();
            },
        });

        function load(){
            $('.edit-btn').off('click').on('click',function(){
                let id = $(this).data('id');
                $.get("api/doctor/get/"+id, function(data) {
                    res = data //JSON.parse(data);
                    $('#d_id').val(id);
                    $('#d_name').val(res.data.name);
                    $('#d_mobile').val(res.data.mobile);
                    $('#d_email').val(res.data.email);
                    $('#d_place').val(res.data.place);
                    $('#d_sex').val(res.data.sex);
                    $('#d_disease').val(res.data.disease);
                });
                $('#patientModal').modal('show');
            });
        }
        
        function reload(){

        }
      
   })
</script>
{{/section}}
