<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#patientModal">New Patient</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <table id="table" class="table table-custom">
    <thead>
        <tr>
            <th>SLNo</th>
            <th>Name</th>
            <th>Place</th>
            <th>Mobile</th>
            <th>Disease</th>
            <th>Doctor</th>
            <th style="width: 121px;">Action</th>
        </tr>
    </thead>
    <tbody>
      {{#each patients}}
            <tr>
                <td>{{slno @index}}</td>
                <td>{{this.name}}</td>
                 <td>{{this.place}}</td>
                <td>{{this.mobile}}</td>
                <td>{{this.dis_name}}</td>
                <td>{{this.dname}}</td>
                <td>
                    <button class="btn btn-sm btn-primary edit-btn" data-id="{{this.id}}" data-name="{{this.name}}">Edit/View</button> 
                    <button class="btn btn-sm btn-danger ajaxConfirmEle" data-url="/api/patient/delete/{{this.id}}" data-title="Do want to delete?" data-method="delete" data-callback="reload">Delete</button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
    </div>
</div> 

<div class="modal fade" id="patientModal" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form action="/api/patient/save" method="POST">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Patient</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Patient Name</label>
                            <input type="text" class="form-control" id="p_name" name="p_name" required>
                            <input type="hidden" class="form-control" id="p_id" name="p_id">
                        </div>
                    </div>
                    <div class="col-md-4">
                         <div class="form-group">
                            <label>Mobile</label>
                            <input type="number" class="form-control" id="p_mobile" name="p_mobile" required>
                        </div>
                    </div>
                    <div class="col-md-4">
                         <div class="form-group">
                            <label>Disrict</label>
                            <select  class="form-control" id="p_discrict" name="p_discrict" required>
                                <option value="1">Malappuram</option>
                                <option value="2">Kochi</option>
                                <option value="3">Palakkad</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Place</label>
                            <input type="text" class="form-control" id="p_place" name="p_place" required>
                            
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Sex</label>
                            <select  class="form-control" id="p_sex" name="p_sex" required>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                    <option value="3">Transgender</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Age</label>
                            <input type="number" class="form-control" id="p_age" name="p_age" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cancer Type</label>
                            <select class="form-control" id="p_disease" name="p_disease" required>
                                {{#each diseases}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Sub Category</label>
                            <select  class="form-control" id="p_disease_sub" name="p_disease_sub" required>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Doctor</label>
                            <select class="form-control" id="p_doctor" name="p_doctor" required>
                            </select>
                        </div>
                    </div>
                </div>

        
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Save</button>
            </div>
            </form>
        </div>
  </div>
</div>


{{#section 'script'}}
<script>
    function loadSubDisease(id,callback=null){
        $.get("api/disease/get/sub-disease/"+id, function(data) {
            res = data //JSON.parse(data);
            $('#p_disease_sub').find('option').remove()
            for(data of res.data){
                $('#p_disease_sub').append(`<option value=${data.id}>${data.name}</option>`)
            }
            if(callback)
                callback()
        });
    }

    function loadDoctor(id,callback=null){
        $.get("api/disease/get/doctor/"+id, function(data) {
            res = data //JSON.parse(data);
            $('#p_doctor').find('option').remove()
            for(data of res.data){
                $('#p_doctor').append(`<option value=${data.id}>${data.name}</option>`)
            }
            if(callback)
                callback()
        });
    }


   $(document).ready(function(){
        $("#table").DataTable({
            "fnDrawCallback": function( oSettings ) {
                load();
            },
        });

        $('#p_disease').on('change',function(){
            loadSubDisease(this.value)
            loadDoctor(this.value)
        })

        function load(){
            $('.edit-btn').off('click').on('click',function(){
                let id = $(this).data('id');
                $.get("api/patient/get/"+id, function(data) {
                    res = data //JSON.parse(data);
                    $('#p_id').val(id);
                    $('#p_name').val(res.data.name);
                    $('#p_mobile').val(res.data.mobile);
                    $('#p_email').val(res.data.email);
                    $('#p_place').val(res.data.place);
                    $('#p_age').val(res.data.age);
                    $('#p_sex').val(res.data.sex);
                    $('#p_disease').val(res.data.disease);
                    loadSubDisease(res.data.disease,function(){
                        $('#p_sub_disease').val(res.data.sub_disease);
                    })

                    loadDoctor(res.data.disease,function(){
                        console.
                        $('#p_doctor').val(res.data.doctor);
                    })
                    
                    
                    
                });
                $('#patientModal').modal('show');
            });
        }
        
        function reload(){

        }
      
   })
</script>
{{/section}}